<div class="heroesList">
	<h1 class="sectionTitle">Heroes list</h1>
	<ul class="heroListItem" *ngIf="this.loadingService.loading === false">
		<li class="heroItem" *ngFor="let hero of heroes">
			<!-- <li class="heroItem" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"> -->
			<a routerLink="/detail/{{hero.id}}">
				<h4>{{hero.name | uppercase}}</h4>
			</a>
			<button class="deleteButton" (click)="delete(hero)">x</button>
		</li>
	</ul>
	<div *ngIf="this.loadingService.loading === true">Chargement...</div>
</div>

<app-hero-form [heroes]="heroes"></app-hero-form>

<!-- On met la variable selectedHero en props pour le composant hero-detail -->
<!-- <app-hero-detail [selectedHero]="selectedHero"></app-hero-detail> -->